    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Grayscale</h2>
                <p>Currently in Portugal but I am doing my thesis of my master's degree in Computer Science at University of Copenhagen</p>
                <p>I have done my bachelor degree in Computer Science at Faculty of Sciences of University of Lisbon, where I learned all the basic skills to be a software developer</p>
                <p>Furthermore, I am an outgoing person, who enjoys technology and everything related to it. In Denmark I also worked as a developer andvolunteered in some technology fairs</p>
                <p>I am an extremly hard-working person who never gives up when confronted with an obstacle</p>
            </div>
        </div>
    </section>
