    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Personal Projects</h2>
                    <p>My Personal Projects are currentely on my github but they will be moved here soon</p>
                    <a href="http://github.com/noname536/portfolio" class="btn btn-default btn-lg">Visit GitHub</a>
                </div>
            </div>
        </div>
    </section>
